<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Federated Learning Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='cct_logo.png') }}" alt="CCT Logo" class="logo">
            <div class="title-container">
                <h1>Federated Learning Server</h1>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="connected-clients">
            <h2>Connected Clients</h2>
            <ul id="client-list">
                {% for client_id, info in clients.items() %}
                    <li id="client-{{ client_id }}">{{ client_id }} (Address: http://{{ info.host }}:{{ info.port }} - Status: {{ info.status }} - Scenario: {{ info.training_type or 'Not selected' }})</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="training-type">
            <h2>FL Server Controls</h2>
            <div class="buttons-container">
                <div class="dropdown">
                    <button class="dropbtn">Select Scenario</button>
                    <div class="dropdown-content">
                        <a href="#" onclick="startTraining('technological_iid')">Technological IID</a>
                        <a href="#" onclick="startTraining('technological_noniid')">Technological NonIID</a>
                        <a href="#" onclick="startTraining('medical_iid')">Medical IID</a>
                        <a href="#" onclick="startTraining('medical_noniid')">Medical NonIID</a>
                    </div>
                </div>                
                <button class="additional-round-button" onclick="performAdditionalRound()">
                    <i class="fas fa-redo-alt"></i> Train More
                </button>
                <button class="reset-server-button" onclick="resetServer()">
                    <i class="fas fa-sync-alt"></i> Reset Server
                </button>                
                <button class="shutdown-button" onclick="shutdownServer()">
                    <i class="fas fa-power-off"></i> Shut Down Server
                </button>
            </div>
        </div>
        <br>

        <h2>Client Metrics</h2>
        <ul id="client-metrics">
            {% for client_id, info in clients.items() %}
                <li id="client-metric-{{ client_id }}">
                    <strong>{{ client_id }}</strong>:
                    accuracy: {{ "%.4f"|format(info.metrics.get('accuracy', 0)) }} - 
                    loss: {{ "%.4f"|format(info.metrics.get('loss', 0)) }} -
                    val_accuracy: {{ "%.4f"|format(info.metrics.get('val_accuracy', 0)) }} -
                    val_loss: {{ "%.4f"|format(info.metrics.get('val_loss', 0)) }} 
                </li>
            {% endfor %}
        </ul>

        <h2>Global Model Metrics</h2>
        <p>Number of Training Rounds: <span id="training-rounds">{{ num_rounds }}</span></p>
        <ul id="global-metrics">
            <li>
                {% if metrics %}
                <strong>accuracy:</strong> {{ "%.4f"|format(metrics.get('accuracy', 0)) }} - 
                <strong>loss:</strong> {{ "%.4f"|format(metrics.get('loss', 0)) }} - 
                val_accuracy: {{ "%.4f"|format(metrics.get('val_accuracy', 0)) }} -
                val_loss: {{ "%.4f"|format(metrics.get('val_loss', 0)) }}
                {% else %}
                No global model metrics available yet.
                {% endif %}
            </li>
            
        </ul>
    </div>

    <!-- Footer that sticks to the bottom of the page -->
    <footer>
        <p>Developed with ❤️ by student sba23021</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
